{% extends 'base.html' %}

{% block title %}Post View{% endblock %}

{% block content %}

  <a id="gohome" href="/">Home</a>
  <h2>{{ post.topic }}</h2>
  <h6>{{ post.created }}</h6>
  {{ post.content }}
  <hr />
  <h3>Comments</h3>
  {% for cmnt in cmnts %}
    <h4>{{ cmnt.name }}</h4>
    <h6>{{ cmnt.date }}</h6>
    {{ cmnt.body }}<br />
  {% endfor %}
  <br />
  <label>Name</label><br />
  <textarea id="name" cols=75 rows=1></textarea><br />
  <label>Comment</label><br />
  <textarea id="body" cols=75 rows=15></textarea><br />
  <input id="post" type="button" value="Post"></input>
  {% load static %}
    <script src="{% static 'singlepost.js' %}"></script>

{% endblock %}
