{% extends "base.html" %}

{% block title %}Edit Post{% endblock %}

{% block content %}   

  <a id="gohome" href="/user/{{ post.username }}">Home</a>
  <h2>Edit Post</h2>
  <label>Topic</label><br />
  <textarea id="topic" contenteditable="true" cols="100" rows="2" maxlength="100" autofocus="true">{{ post.topic }}</textarea><br />
  <div id="date" style="position:absolute;right:200px;top:100px">
    <label>Published on:</label><br />
    <input id="created" type="date" value="{{ post.created }}"></input>
  </div>
  <label>Content</label><br />
  <textarea id="content" contenteditable="true" spellcheck="true" cols="100" rows="25">{{ post.content }}</textarea><br />
  <input id="postblog" type="button" value="Post" />
  {% load static %}
  <script src="{% static 'post.js' %}"></script>

{% endblock %}
